/* Reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: black;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    color: white;
    background-color: black;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

#introParagraph {
    line-height: 1.5rem;
}

#logo {
    max-width: 6rem;
    height: auto;
    margin-right: 33rem;
}

#nav_links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#nav_links li {
    font-family: 'Questrial', sans-serif;
}

#nav_links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

#nav_links a:hover {
    color: #00aaff;
}

#main {
    color: white;
    font-family: 'Questrial', sans-serif;
    text-align: center;
    padding-top: 32rem;
    padding-bottom: 60px;
}

#first_container {
    max-width: 50rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 5rem;
}

#selfie_container {
    max-width: 50%;
    margin-right: 10%;
}

#selfie {
    max-width: 20rem;
    opacity: 0.5;
    position: relative;
    z-index: -1;
    transition: opacity 0.3s ease;
}

#name_container {
    text-align: center;
}

@media screen and (max-width: 800px) {
    #first_container {
        flex-direction: column;
        max-width: 25rem;
    }

    #selfie_container {
        max-width: 10rem;
        margin-right: 0;
    }

    #selfie {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    #logo {
        margin: 0;
    }
}

/* Animation styles */
.animation-area {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

.loading-bar {
    margin-top: 10rem;
    width: 100%;
    height: 0.75rem; /* Adjust the height of the loading bar */
    background-color: #00aaff; /* Change the loading bar color */
    position: relative; /* Add this */
}

h2 {
    padding: 2rem;
}

.progress {
    width: 0;
    height: 100%;
    background-color: #ff6600; /* Change the progress color */
    position: absolute; /* Add this */
    top: 0; /* Add this */
    left: 0; /* Add this */
    /* z-index: 1; */
}

.box-area {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    animation: animate 20s linear infinite;
    left: -400px;
}

/* .box-area li:nth-child(1) {
    width: 80px;
    height: 80px;
}

.box-area li:nth-child(2) {
    width: 30px;
    height: 30px;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    width: 100px;
    height: 100px;
}

.box-area li:nth-child(4) {
    width: 150px;
    height: 150px;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    width: 40px;
    height: 40px;
}

.box-area li:nth-child(6) {
    width: 110px;
    height: 110px;
} */

@keyframes animate {
    0% {
        left: -400px;
        opacity: 0.3;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}

/* Code box styles */
.code-box {
    background-color: blue;
    width: 30rem;
    height: 30rem;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    margin-top: 5rem;
}

.code-box code {
    font-family: 'Courier New', monospace;
    font-size: 16px;
    white-space: pre-wrap;
}
